/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.10.2016, 19:21:46
    Author     : jorgen
*/

.main-content {
  width: 90%;
  min-height: 600px;
  margin: 10px auto;
  text-align: center;
}

.main-content form {
    width: 40%;
    margin: 0 auto;
}

.main-content form input,
.main-content form textarea,
.main-content form select {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
}

.main-content form label {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.main-content form .btn {
    margin-top: 15px;
}