<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.ServletContextListener</listener-class>
    </listener>
    <listener>
        <description>SessionListener</description>
        <listener-class>listeners.SessionListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>listeners.RequestListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>lookforbooks.ProductList</servlet-class>
        <init-param>
            <param-name>productRowLength</param-name>
            <param-value>4</param-value>
        </init-param>
        <init-param>
            <param-name>productImgWidth</param-name>
            <param-value>120</param-value>
        </init-param>
        <init-param>
            <param-name>productImgHeight</param-name>
            <param-value>200</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>lookforbooks.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>lookforbooks.Item</servlet-class>
        <init-param>
            <param-name>defaultPage</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Authorization</servlet-name>
        <servlet-class>lookforbooks.Authorization</servlet-class>
        <init-param>
            <param-name>defaultPage</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern> </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/books/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/getImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authorization</servlet-name>
        <url-pattern>/login/*</url-pattern>
        <url-pattern>/profile/*</url-pattern>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>
                /login
            </form-login-page>
            <form-error-page>
                /login?error=true
            </form-error-page>
        </form-login-config>
    </login-config>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>order</web-resource-name>
            <url-pattern>/order/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>customer</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-role>
        <description>Customer of store</description>
        <role-name>customer</role-name>
    </security-role>
    <security-role>
        <description>Administrator of store</description>
        <role-name>administrator</role-name>
    </security-role>
    <security-role>
        <description>like unix</description>
        <role-name>root</role-name>
    </security-role>
</web-app>
